extends layout-admin

block content
  h1= title
  form(action='/admin', method='post')
    | Username:
    br
    input(type='text', name='username')
    br
    | Password:
    br
    input(type='text', name='password')
    br
    br
    input(type='submit', value='login')